apiVersion: jumpstarter.dev/v1alpha1
kind: ExporterConfig
metadata:
  name: default
  namespace: jumpstarter-lab # Just use the default namespace for now
endpoint: "" # This is required for the exporter to work
token: "" # This is required for the exporter to work
export:
  example:
    type: jumpstarter_driver_${DRIVER_NAME}.driver.${DRIVER_CLASS}

